@font-face {
    font-family: Roboto-Black;
    font-weight: normal;
    font-style: normal;
    src: url("../fonts/roboto-black.ttf");
}
.menu_git-test{
    text-align: center;
}

.menu__list {
    display: flex;
    justify-content: center; /* Выравнивание элементов по центру */
    align-items: center; /* Центрировать элементы по вертикали */
    flex-wrap: wrap; /*Разрешить две строки*/
    height: 81px; /*высота блока*/
    list-style: none; /*убираем маркеры списка*/
    font-family: Roboto-Black, ﻿Courier, sans-serif;
    font-weight: bold; /*Жирный*/
    font-size: 18px;
    text-transform: uppercase; /*Верхний регистр*/
    text-align: center; /*Выравнивание текста в блоке по центру*/
}

.menu__items {
    width: 15%;
}

.menu__items_no-padding {
    /*padding-right: 0; !*Отмена правого поля последнему элементу*!*/
}

.menu__link {
    text-decoration: none; /*убираем подчеркивание ссылок*/
    color: #16a085; /*цвет текста*/
    cursor: pointer;
}
.menu__link:hover {
    color: #E85F4C; /* при наведении курсора мышки */
}

.menu__link:active {
    color: #980F00; /* при нажатии */
}

.content {
    background-color: #f5f6f7; /*заливка фона*/
    font-family: ﻿Roboto-Black, ﻿Courier, sans-serif;
    color: #373737;
    text-align: center; /*выравнивание текста*/
}

.content__img {
    width: 100%; /*адаптивная картинка*/
    height: auto;
}

.content__h1 {
    padding-top: 56px;
    padding-bottom: 34px;
    font-size: 22px;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    font-weight: bolder;
    text-transform: uppercase;
}

.content__text {
    margin: 0 120px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.content__button {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 94px;
    padding: 18px 43px; /* отступ от текста */
    font-size: 12px;
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    text-transform: uppercase;
    user-select: none; /* убирать выделение текста */
    background: #16a085; /* фон кнопки */
    border-radius: 4px;
    outline: none; /* убирать контур в Mozilla */
    cursor: pointer;
}

.content__button:hover {
    background: #E85F4C; /* при наведении курсора мышки */
}

.content__button:active {
    background: #980F00; /* при нажатии */
}

.page-footer {
    display: flex;
    justify-content: flex-end; /* Выравнивание элементов по центру */
    align-items: center; /* Центрировать элементы по вертикали */

    height: 110px;
    padding-right: 104px; /*отступ от правого края*/

    font-size: 16px;
    font-weight: bolder;
    line-height: 23px;
    letter-spacing: 1.2px;
    word-spacing: 4px;
}


