
.floating-text {
  text-align: center; 
  perspective: 350px;
  background-color: black;
  height: 100vh;
  overflow: hidden;
}
.floating-text__paragraph{
  font-family: sans-serif;
  font-stretch: ultra-condensed;
  padding-top: 100vh;
  transform-origin: center;
  color: yellow;
  text-align: justify;
  font-size: 72px;
  line-height: 1.6;
  font-weight: 600;
  animation-name: to-top;
  animation-direction: normal;
  animation-duration: 18s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.floating-text_span{
  text-align: center;
  font-size: 97px;
  display: block;
}
@keyframes to-top {
  from {
    transform: rotateX(45deg) translateZ(150px) translateY(0px);
  }
  to {
    transform: rotateX(45deg) translateZ(150px) translateY(-2000px);
  }
}
