h1{
    margin-bottom: 30px;
}

.image-to-show {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    opacity: 0;

}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.btn-display{
    display: inline-block;
    margin: 10px 10px 10px 0;
}

