body {
    padding: 10px 50px;
}

.input-price {
    outline: none;
    border: 1px solid dimgrey;
    border-radius: 8px;
    padding: 4px;
}

.input-price:focus {
    outline: none;
    background-color: #f6f6f6;
    border: green 1px solid;
    border-radius: 8px;
}

.input-content {
    margin-top: 10px;
}

#error {
    margin-top: 5px;
    color: red;
    padding-left: 40px;
}

.redBorder {
    border: 1px solid red;
}

.span-item {
    display: inline-block;
    padding: 6px 4px 7px 8px;
    font-size: 14px;
    line-height: 15px;
    border: 1px solid #d2d2d2;
    border-radius: 40px;
    vertical-align: middle;
    color: grey;
    margin: 3px;
    pointer-events: none;
}

.span-item::after {
    border: 1px solid #d2d2d2;
    border-radius: 50%;
    content: '✖';
    margin-left: 10px;
    padding: 1px 3px;
    color: grey;
    cursor: pointer;
    pointer-events: all;
}

.span-item:hover::after {
    color: black;
}