@import "fontello-embedded.css";
@import url(fonts.css); /*подключение файла со шрифтом*/


body {
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-style: normal;
    /*color: white;*/
}

.container {
    height: 100vh;
    width: 100%;
}

/*block table*/

table {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    box-sizing: border-box;
    border-collapse: collapse;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 255);
    border-width: 24px 22px;
    border-style: solid;
    border-color: #3a4965;
    line-height: 1.3;
}
tr{
    border-bottom: 3px solid rgba(125, 124, 125, 0.2);
}
tr:first-child td:first-child{
    border-bottom: none;
}

tr:first-child { /*первая строка таблицы*/
     color: rgba(72, 72, 72, 255);
     font-size: 24px;
}
td{
    vertical-align: middle;
    min-width: 180px;
}

td:nth-child(even){/*каждый второй столбец*/
    background-color: #e3e3e3;
}

tr:first-child td:first-child{/*первый ряд первый столбец*/
    color: black;
}

.icon{                      /*иконки*/
    font-size: 24px;
    color: #848484;
}
tr:first-child td:first-child{
    min-width: 180px;
}
td:first-child.title-row p:first-child{
    font-size: 17px;           /*первый параграф первой строки первой ячейки*/
    padding-top: 40px;
}
.title-row p:last-child{
    padding-bottom: 40px;       /*первый параграф первой строки первой ячейки*/
}
tr:nth-child(2) td:first-child{/*вторая строка первого столбца*/
    background-color: #89c331;
    color: white;
}
tr:nth-child(3) td:first-child{/*третья строка первого столбца*/
    background-color: #f04a56;
    color: white;
}
tr:nth-child(4) td:first-child{/*четвертая строка первого столбца*/
    background-color: #20807c;
    color: white;
}

td:first-child p:first-child{/*первый параграф первого ряда*/
    font-size: 24px;
    padding-top: 18px;
}
.value-price{
    font-size: 38px;
}

/*.value-price:after {*/
/*    content: "Per Month";*/
/*    font-size: 16px;*/
/*    font-weight: 600;*/
/*    vertical-align: middle;*/
/*    padding-left: 12px;*/
/*}*/

.value-price__degree {
    vertical-align: super;
    font-size: 17px;
    margin-left: -8px;
    color: white;
}
.value-price__date{
    font-size: 16px;
    font-weight: 600;
    color: white;
}

/*block btn*/

.btn-block__link {
    display: inline-block;
    margin: 4px 30px 20px 30px;
    padding: 10px 40px 6px 40px;
    min-width: 180px;
    vertical-align: middle;
    border-radius: 6px;
    color: #fefefe;
    background-color: #484848;
    box-shadow: 0 8px 0 #404040;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    transition: all 500ms linear;
}
.btn-block__link:hover {
    background: rgba(255,255,255, 0.8);
    color: #848484;
    box-shadow: 0 7px 14px -1px #808080; /*тень инпуту*/
    opacity: 1;
}

