@import url(fonts.css);
/*подключение файла со шрифтом*/
@import url(fontello-embedded.css);

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #5B6469;
}

.adaptive-img {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    min-width: 1112px;
}

.section1 {
    height: 420px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('../img/header-bg.jpeg') center no-repeat; /*затемнили картинку*/
    background-size: cover; /*с сохранением пропорций*/
    background-attachment: fixed;

}

.logo-text {
    vertical-align: center;
}

/*block header*/

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #1d2124;
    position: sticky;
    top: 0;
}

/*block header-logo*/

/*block header-nav*/
.header__title {
    height: 100%;
}

.header__logo-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 70px;
    background: url(../img/logo-site.png) 22px center no-repeat;
    font-size: 23px;
    font-weight: 600;
    text-transform: capitalize;
    color: #FFFFFF;
}

.header__logo-link:hover {
    color: #169cb4;
}

/*block header-nav*/

.header__nav-menu {
    height: 100%;
}

.header__menu-list {
    height: 100%;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 15px;
}

.header__menu-item {
    height: 100%;
    border-bottom: 2px solid transparent;
    vertical-align: center;
}

.header__menu-item:hover {

    border-bottom: 2px solid #169cb4;
    cursor: pointer;
}

.header__menu-link:hover {
    color: #169cb4;
}

.header__menu-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 14px;
    padding: 0 26px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/*block header-search*/

.header__block-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__btn-search {
    width: 0;
    height: 30px;
    padding: 10px 10px 10px 24px;
    border: 3px solid transparent;
    box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    background: url(../img/fa-search.png) no-repeat 5px center;
    transition: all .3s linear;
}

.header__btn-search:focus {
    width: 230px;
    border: 3px solid #169cb4;
    background-color: #FFFFFF;
    outline: none;
}

/*article block-content*/

.block-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block-content__name {
    font-size: 27px;
    color: #FFFFFF;
    margin-bottom: 44px;
}

.block-content__button {
    outline: none;
    display: inline-block;
    padding: 21px;
    margin: 0 20px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    transition: .15s ease-in-out;
}

.block-content__button-left {
    box-shadow: 0 0 40px 40px #89ca62 inset, 0 0 0 0 #89ca62;
}

.block-content__button-left:hover {
    box-shadow: 0 0 10px 0 #89ca62 inset, 0 0 10px 4px #89ca62;
    color: #89ca62;
}

.block-content__button-right {
    box-shadow: 0 0 40px 40px #14b9d5 inset, 0 0 0 0 #14b9d5;
}

.block-content__button-right:hover {
    box-shadow: 0 0 10px 0 #14b9d5 inset, 0 0 10px 4px #14b9d5;
    color: #14b9d5;
}

/*section2*/

.section2 {
    background-color: #f2f2f2;
    font-weight: bold;
    padding-bottom: 15px;

}

.section2__title {
    padding: 52px 0 25px 0;
    width: 100%;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: rgba(24, 180, 207, 255);
}

.section2__block-photo {
    height: 850px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    /*overflow: hidden;*/
}

.section2__link {
    text-align: center;
    margin: 15px;
    width: 26%;
    max-width: 370px;
    color: rgba(53, 58, 61, 255);
    cursor: pointer;
}

.section2__link1 {
    order: 1;
}

.section2__link2 {
    order: 3;
}

.section2__link3 {
    order: 5;
}

.section2__link4 {
    order: 2;
}

.section2__link5 {
    order: 4;
}

.section2__link6 {
    order: 6;
}

.section2__text-link {
    padding: 20px 0;
    background-color: #FFFFFF;
    text-align: center;

}

.section2__link:hover {
    box-shadow: 0 0 10px 0 #14b9d5 inset, 0 0 10px 2px #14b9d5;
    color: #14b9d5;
}

.section2__link:hover .section2__text-link {
    background-color: #f2f2f2;
}

/* section3*/

.section3 {
    height: 590px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url('../img/bg2.jpeg') center no-repeat; /*затемнили картинку*/
    background-size: cover; /*с сохранением пропорций*/
    background-attachment: fixed;
}

.section3__block-images {
    height: 100%;
    display: grid;
    grid-template-areas: ". . . . . ." "title title title title title title" "line line line  line  line  line" ". img1 img2 img3 img4 ." " . . . . . . ";
    grid-template-rows: 130px 130px 50px 130px 150px;;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    justify-items: center;
    align-items: center;
}

.section3__title {
    grid-area: title;
    font-size: 33px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
}

.section3__sub-line {
    display: inline-block;
    grid-area: line;
    width: 60px;
    height: 3px;
    background-color: rgba(24, 180, 207, 255);
}

.section3__image {
    grid-area: img1;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: block;
}

.section3__image1 {
    grid-area: img1;
    width: 207px;
    height: 28px;
    background-position: -20px -20px;
}

.section3__image1:hover {
    width: 207px;
    height: 28px;
    background-position: -20px -88px;
}

.section3__image2 {
    grid-area: img2;
    width: 135px;
    height: 49px;
    background-position: -20px -156px;
}

.section3__image2:hover {
    width: 135px;
    height: 49px;
    background-position: -195px -156px;
}

.section3__image3 {
    grid-area: img3;
    width: 172px;
    height: 42px;
    background-position: -20px -245px;
}

.section3__image3:hover {
    width: 172px;
    height: 42px;
    background-position: -267px -20px;
}

.section3__image4 {
    grid-area: img4;
    width: 141px;
    height: 52px;
    background-position: -370px -102px;
}

.section3__image4:hover {
    width: 141px;
    height: 52px;
    background-position: -370px -194px;
}

/* section4*/

.section4 {
    width: 100%;
    display: grid;
    grid-template-areas: "title title title title title title title" "img1 img2 img3 img4 img5 img6 img7";
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    justify-items: center;
    justify-content: space-between;
}

.section4__title {
    grid-area: title;
    align-self: center;
    font-size: 25px;
    padding: 50px 0;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(24, 180, 207, 255);
}

.section4__image {
    transition: all .5s ease;
}

.section4__image:hover {
    transform: rotate(-3deg);
}

.section4__image1 {
    grid-area: img1;
}

.section4__image2 {
    grid-area: img2;
}

.section4__image3 {
    grid-area: img3;
}

.section4__image4 {
    grid-area: img4;
}

.section4__image5 {
    grid-area: img5;
}

.section4__image6 {
    grid-area: img6;
}

.section4__image7 {
    grid-area: img7;
}

/*section5*/

.section5 {
    margin-bottom: 50px;
    text-align: right;
    display: grid;
    grid-template-areas: "tit tit tit tit tit tit" ". img1 img1 img1 img2 ." ". img3 img3 img4 img4 ." ". img5 img5 img6 img6 ." ". img7 img8 img8 img8 .";
    grid-template-columns: 13% 1fr 1fr 1fr 1fr 13%;
    grid-template-rows: auto;
    justify-items: center;
    grid-row-gap: 35px;
    grid-column-gap: 38px;
}

.section5__title {
    grid-area: tit;
    align-self: center;
    padding: 50px 0 15px 0;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(24, 180, 207, 255);
}

.section5__sub-title {
    font-size: 14px;
    text-align: right;
    padding: 16px;
    color: rgba(53, 58, 61, 255);
    font-weight: 700;
}

.section5__sub-title_center {
    text-align: center;
}

.section5__link {
    width: 100%;
    height: auto;
    transition: all 1s ease;
    cursor: pointer;
}

.section5__link:hover {
    -webkit-filter: opacity(40%);
}

.section5__photo {
    background-color: #f9f7f7;
}

.section5__text {
    padding: 0 16px 16px 16px;
    font-size: 12px;
    color: rgba(91, 100, 105, 255);
    text-align: right;
    line-height: 1.2;
}

.section5__text-photo_right {
    width: 80%;
}

.section5__link_text-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.section5__wrap-img {
    width: 100%;
    height: auto;
}

/*section grid*/

.section5__photo1 {
    grid-area: img1;
}

.section5__photo2 {
    grid-area: img2;
}

.section5__photo3 {
    grid-area: img3;
}

.section5__photo4 {
    grid-area: img4;
}

.section5__photo5 {
    grid-area: img5;
}

.section5__photo6 {
    grid-area: img6;
}

.section5__photo7 {
    grid-area: img7;
}

.section5__photo8 {
    grid-area: img8;
}

/*section footer*/

.footer {
    height: 76px;
    padding: 0 18%;
    margin-bottom: 5px;
    background-color: #1d2124;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}

.footer__logo {
    display: flex;
    align-items: center;
    font-size: 12px;
}

@media (min-width: 350px) and (max-width: 1266px) {
    .section5__sub-title {
        font-size: 12px;
        padding: 12px;
    }

    .section5__text {
        padding: 0 12px 12px 12px;
        font-size: 10px;
    }
}

@media (min-width: 1377px) {
    .section5__sub-title {
        font-size: 15px;
        padding: 20px;
    }

    .section5__text {
        padding: 0 20px 20px 20px;
        font-size: 14px;
    }
}

/*************js_homework14************************/
.anchor {
    position: absolute;
    transform: translateY(-70px);
}

.to-top {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    position: fixed;
    right:20px;
    bottom: 22px;
    outline: none;
    background-color: #169cb4;
    font-weight: 600;
    color: #FFFFFF;
    display: none;
    cursor: pointer;
}
.slide-toggle {
    position: absolute;
    left: calc(50% - 60px);
    margin-top: 80px;
    background-color: #169cb4;
    font-size: 20px;
    width: 120px;
    height: 37px;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}


